<div role="tabpanel" class="tab-pane fade" id="trand">
  <div class="ss_featured_products">
    <div class="owl-carousel owl-theme">
      <% @count_job_part_time.times do |n| %>
        <div class="item" data-hash=<%= n %> >
          <% job_start = n.to_i * 10 %>
          <% job_end = job_start.to_i + 9 %>
          <% @job_part_time.each_with_index do |job, index| %>
            <% if job_start <= index && index <= job_end %>
              <%= render 'jobs/job_vertical', job: job %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="video_nav_img_wrapper">
    <div class="video_nav_img">
      <ul>
        <li><a class="button secondary url owl_nav" href="#zero">1</a></li>
        <li><a class="button secondary url owl_nav" href="#one">2</a></li>
        <li><a class="button secondary url owl_nav active" href="#two">3</a></li>
      </ul>
    </div>
  </div>
</div>
