<div class="tab-content">
  <%= render "jp_first_sidebar_main_wrapper_left_middle_content_all_time" %>
  <%= render "jp_first_sidebar_main_wrapper_left_middle_content_full_time" %>
  <%= render "jp_first_sidebar_main_wrapper_left_middle_content_part_time" %>
</div>
