<div class="cc_featured_product_main_wrapper">
  <div class="jp_hiring_heading_wrapper jp_job_post_heading_wrapper">
    <h2>Recent Jobs</h2>
  </div>
  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#hot" aria-controls="hot" role="tab" data-toggle="tab">All Time</a></li>
      <li role="presentation"><a href="#trand" aria-controls="trand" role="tab" data-toggle="tab">Part Time</a></li>
      <li role="presentation"><a href="#best" aria-controls="best" role="tab" data-toggle="tab">Full Time </a></li>
  </ul>
</div>
