<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
  <div class="row">
    <%= render "jp_first_sidebar_main_wrapper_left_top" %>
    <%= render "jp_first_sidebar_main_wrapper_left_middle" %>
    <%= render "jp_first_sidebar_main_wrapper_left_bottom" %>
  </div>
</div>
