<div class="jp_first_sidebar_main_wrapper">
  <div class="container">
    <div class="row">
      <%= render "jp_first_sidebar_main_wrapper_left" %>
      <%= render "jp_first_sidebar_main_wrapper_right" %>
    </div>
  </div>
</div>
