<% provide :title, "Edit #{resource_name.to_s.humanize}" %>
<% provide :button, "Update" %>
<% provide :class, "" %>

<div class="register_section">
  <!-- register_form_wrapper -->
  <div class="register_tab_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div role="tabpanel">
            <div class="card p-5">
              <div class="tab-pane register_left_form" id="contentOne-1">
                <%= render "devise/registrations/employee_form" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
