<div class="nested-fields round">
  <div class="link float-right mb-2">
    <%=  link_to_remove_association f do %>
      <i class="fas fa-backspace"></i>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
  <div class="form-group">
    <%= f.text_field :time, class: "form-control", placeholder: "Time" %>
  </div>
  <div class="form-group">
    <%= f.cktext_area :content, cols: 40, ckeditor: { uiColor: '#dddddd', toolbar: 'mini' }, placeholder: "Content", class: "form-control" %>
  </div>
</div>
