<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title col-sm-6"><%= add_on.title %></h5>
        <p class="col-sm-6 text-right"><%= add_on.time %></p>
        <p class="card-text">
          <%= add_on.content %>
        </p>
      </div>
    </div>
  </div>
</div>
