<label for=""><%= resume_skill.skill.name %></label>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: <%= resume_skill.point %>%;" aria-valuenow= "<%= resume_skill.point %>" aria-valuemin="0" aria-valuemax="100"><%= resume_skill.point %>%</div>
</div>
