<%= provide :title, "Add New Resume" %>
<div class="jp_cp_profile_main_wrapper">
  <div class="container">
    <div class="row">
      <%= render "resumes/form_resume", resume: @resume %>
    </div>
  </div>
</div>